<div class="aside-wrap">
  <div class="search-wrap">
    <input type="text" id="search" placeholder=" " [(ngModel)]="textByUser" (input)="onSearch()"  />
  </div>

  <button class="select-all-button" (click)="selectAllCheckboxes()">
{{selectAll ? "Kijelölés visszavonása" : "Összes kijelölés"}}
  </button>

  <div class="identifiers" *ngFor="let item of filteredUsers; let i = index">
    <label>
      <input type="checkbox"
      (change)="onUserSelect($event, item)"
      [checked]="selectAll"
  
     />
      {{ item.id }}
    </label>
  </div>
</div>
