.details-wrap {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  position: relative;
}

img {
  position: absolute;
  width: 50px;
  opacity: 0.2;
  right: 10px;
  bottom: 10px;
}

.description, .details-items {
    border-bottom: 2px solid rgb(162, 146, 6);
    width: 350px;
    margin: 0 auto;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(174, 159, 23);
    background-color: rgb(167, 157, 68);
}

.description > div:nth-child(1) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgb(162, 146, 6);
}

.details-items {
  font-size: 1rem;
  font-weight: 400;
  background-color:unset;
  border: none;
}

.details-items .detail-key {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgb(162, 146, 6);
  border-left: 1px solid rgb(162, 146, 6);
}

.details-items .detail-value {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(162, 146, 6);
}

.details-items:last-child {
  border-bottom: 1px solid rgb(162, 146, 6);
}


.details-items:nth-child(odd) {
  background-color: rgb(233, 226, 159);
}

.details-items:nth-child(even) {
    background-color: rgb(240, 231, 190);
  }

  @media (min-width: 1350px)  {
    .description, .details-items{
        width: 600px;
      
    }
}
