<div class="symbols-wrap">
  <div class="inputs upper-box">

    <div class="ssi-type">SSI típusa</div>

   
      <select id="select-ssi-type">
        <option value="">Válassz!</option>
        <option value="">Típus 1</option>
        <option value="">Típus 2</option>
        <option value="">Típus 3</option>
        <option value="">Típus 4</option>
      </select>
    

    <div class="ssi-symbol">Szimbólum kiválasztása</div>
 
      <select id="select-symbol-search">
        <option value="">Válassz!</option>
        <option value="">Szimbólum 1</option>
        <option value="">Szimbólum 2</option>
        <option value="">Szimbólum 3</option>
        <option value="">Szimbólum 4</option>
      </select>
      
   
  </div>
  <div class="symbols bottom-box">
    SZIMBÓLUMOK
  </div>
</div>
